    <% r = @aggregate %>
        <tr class="info">
          <td><%= pretty_node(r) -%></td>

          <td colspan="2" class="test-name"><strong>
            <%= link_to( pretty_truncate(h(r.test_definition.name), 80, 'strong', h(r.test_definition.file_name(:short))), "/tests/#{r.test_definition.id}?target=#{@target}") -%></strong>
          </td>

          <td><%= r.results.count %></td>
          <td>
            <span class="result result-<%= r.status -%>"><%= r.status -%></span>
          </td>
          <td>
            <span class="badge badge-result badge-pass badge-count-<%= r.count(:pass) -%>"><%= r.count(:pass) %></span>
            <span class="badge badge-result badge-fail badge-count-<%= r.count(:fail) -%>"><%= r.count(:fail) or 0 %></span>
            <span class="badge badge-result badge-notrun badge-count-<%= r.count(:notrun) -%>"><%= r.count(:notrun) %></span>
            <span class="badge badge-result badge-error badge-count-<%= r.count(:error) -%>"><%= r.count(:error) -%></span>
          </td>
        </tr>

        <% r.children.each do |s| %>

            <tr>
              <td><%= pretty_node(s) -%></td>
              <td></td><td class="test-name"><em><%= link_to( pretty_truncate(h(s.test_definition.name), 80, 'em'), "/tests/#{s.test_definition.id}?target=#{@target}") -%></em></td>

              <td><%= s.results.count %></td>

              <td>
                <span class="result result-<%= s.status -%>"><%= s.status -%></span>
                <%= hive_job_link(r.best.run) if r.best -%>
              </td>

              <td>
                <span class="badge badge-result badge-pass badge-count-<%= s.best.count(:pass) -%>"><%= s.best.count(:pass) %></span>
                <span class="badge badge-result badge-fail badge-count-<%= s.best.count(:fail) -%>"><%= s.best.count(:fail) or 0 %></span>
                <span class="badge badge-result badge-notrun badge-count-<%= s.best.count(:notrun) -%>"><%= s.best.count(:notrun) %></span>
                <span class="badge badge-result badge-error badge-count-<%= s.best.count(:error) -%>"><%= s.best.count(:error) -%></span>
              </td>
            </tr>

        <% end %>
