
  <div class="col-xs-12">
    <h1><%= @primary.project + ": " + @primary.component -%></h1>
    <h2><%= link_to @primary.version, "/worlds/#{@primary.id}" -%> vs <%= link_to @reference.version, "/worlds/#{@reference.id}" -%></h2>
    <hr />
   </div>

  <br>
  <div class="col-xs-12">
    <table class="table table-condensed table-tight table-hover">
      <tr>
        <th colspan="2">Feature</th>
        <th>Target</th>
        <th></th>
        <th class="table-element-center">
          <span class="badge badge-pass badge-result">P</span>
          <span class="badge badge-fail badge-result">F</span>
          <span class="badge badge-notrun badge-result">N</span>
          <span class="badge badge-error badge-result">E</span>
        </th>
        <th class="table-element-center"><span class="label label-primary"><%= @reference.version -%></span></th>
        <th class="table-element-center"><span class="label label-info"><%= @primary.version -%></span></th>
        <th class="table-element-center">
          <span class="badge badge-pass badge-result">P</span>
          <span class="badge badge-fail badge-result">F</span>
          <span class="badge badge-notrun badge-result">N</span>
          <span class="badge badge-error badge-result">E</span>
        </th>
        <th></th>

        <th>Diff</th>
      </tr>

      <% @comparisons.each do |c| %>
      
        <% id="#{c.primary.world.id.to_s}-#{c.reference.world.id.to_s}-#{c.test_definition.id.to_s}-#{c.target}" %>
      
        <tr id="<%=id-%>" class="info comparison_loader">
        </tr>

      <% end %>

    </table>
    <hr>
  </div>

  <script>
    loadComparisons()
  </script>