
  <div class="col-xs-12">
    <h1><%= @primary_world.project + ": " + @primary_world.component -%></h1>
    <h2><%= link_to @primary_world.version, "/worlds/#{@primary_world.id}" -%> vs <%= link_to @reference_world.version, "/worlds/#{@reference_world.id}" -%></h2>
    <hr />
   </div>

  <br>
  <div class="col-xs-12">
    
    <div class="panel-group" id="accordion">

    <% @targets.each do |t| %>
    
      <div class="panel panel-default comparison-loader" id="group-<%=@primary_world.id-%>-<%=@reference_world.id-%>-<%=t-%>">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%=t-%>"><%=t-%></a>
            <span class="pull-right">(loading...)</span>
          </h4>
        </div>
        <div id="collapse-<%=t-%>" class="panel-collapse collapse"></div>
      </div>
    <% end %>
        
    </div>
    
<script>
  loadComparisonGroups()
</script>