<h1>Latest worlds under test</h1>

<table class="table table-striped">

  <thead>
    <th>ID</th>
    <th>World</th>
    <th>Project</th>
    <th>Component</th>
    <th>Version</th>
    <th>Runs</th>
    <th>Last run</th>
  </thead>

  <tbody>
  <% @worlds.each do |w| %>

    <tr>
      <td><%= w.id -%></td>
      <td><%= link_to w.name, "worlds/#{w.id}" -%></td>
      <td><%= w.project -%></td>
      <td><%= w.component -%></td>
      <td><%= w.version -%></td>
      <td><%= w.runs.count -%></td>
      <td><%= simple_time w.last_run.started_at -%></td>
    </tr>

  <% end %>
  </tbody>
</table>
