<div class="col-xs-12">
  
  <h1 class="pull-right"><span class="label label-default"><%= @test.node_type -%></h1>
  <h2><%= @test.name -%> </h2>
  <p class="lead"><%= @test.description -%></p>
    
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <% counter = 0 %>
    <% @results_hash.each do |t,a| %>
    <% li_class='active' if params[:target] == t %>
    <li class="<%=li_class-%>"><a href="#tab-<%=counter-%>" data-toggle="tab"><%=t-%></a></li>
    <% counter += 1 %>
    <% end %>
  </ul>
    
  <!-- Tab panes -->
  <div class="tab-content">
    
  <% counter = 0 %>
  <% @results_hash.each do |t, a| %>

    <% tab_class='active' if params[:target] == t %>
    <div class="tab-pane <%=tab_class-%>" id="tab-<%=counter-%>">
    <% counter += 1 %>
      <table class="table">
    
        <thead>
          
          <!-- World information row -->
          <tr>
            <th></th>
            <% (0..14).each do |i| %>
            <% r =a[i] %>
            <% if r %>
              <th><span id="<%="world-"+counter.to_s+"-"+i.to_s-%>" class="label label-primary" data-toggle="tooltip" data-placement="top" title="<%= r.world.component -%>: <%= r.world.version -%>"><%= r.world.version -%></span></th>
              <script>$('#<%="world-"+counter.to_s+"-"+i.to_s-%>').tooltip({"animation": true })</script>
            <% else %>  
              <th></th>
            <% end %>  
            
            <% end %>
          </tr>
          
          
          <!-- Results row for this test id -->
          <tr>
          <th></th>
          <%  (0..14).each do |i| %>
          <% r = a[i] %>
          <% if r %>
            <th><span class="badge badge-result badge-<%= r.status -%>"><%= r.status.capitalize[0] -%></span></th>
          <% else %>
            <th></th>
          <% end %>
        <% end %>
        </tr>
        </thead>

        
        <!-- Results for the children -->
        <% if @test.children && !@test.children.empty? -%>
        <tbody>
          <% @test.children.each_with_index do |t, j| %>
          <tr>
            <td><%= link_to(t.name, "/tests/#{t.id}?target=#{a[0].run.target}") -%></td>
        
            <% (0..14).each do |i| %>
            <% r = a[i] %>
            <% if r %>
              <% status = ( r.children[j] ? r.children[j].status : 'notrun' ) %>
              <td><span class="badge badge-result badge-<%= status -%>"><%= status.capitalize[0] -%></span></td>
            <% else %>
              <td></td>
            <% end %>
            <% end %>
          </tr>
      
          <% end %>
        </tbody>
        <% end %>
      </table>
    
    </div>
  <% end %>
  </div>
    
</div>

