<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Testmite</title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</head>
<body>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag('testmite-20.png') -%></i></a><a class="navbar-brand">Testmite</a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= current_page?('/worlds') ? 'active' : '' -%>"><a href="/worlds">Recent</a></li>
        <li class="<%= current_page?('/suites') ? 'active' : '' -%>"><a href="/suites">Suites</a></li>
        <li class="<%= current_page?(controller: 'keys', action: 'show') ? 'active' : '' -%>"><a href="/keys">Keys</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><%= current_user ? current_user.email : 'Not signed in'-%></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Titan <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">DeviceDB</a></li>
            <li><a href="#">Hive</a></li>
            <li><a href="#">Gems</a></li>
            <li class="divider"></li>
            <li><a href="#">Learn more</a></li>
            <li><a href="#">Raise an issue</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">

<%= yield %>

</div>
</body>
</html>
